<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.6">
    <title>InFlux - RSS Reader</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ url }}/templates/influx-template-dark/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" href="{{ url }}/templates/influx-template-dark/img/Icone_Neurozone01.png">
    <meta name="theme-color" content="#563d7c">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ url }}/templates/influx-template-dark/css/dashboard.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3dc7e89a7c.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">InFlux</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                {% for category in categories %}
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>{{ category.name }}</span>
                        <a class="d-flex align-items-center text-muted" href="{{ url }}/category/{{ category.id }}"
                           data-id="{{ category.id }}">
                            <span data-feather="plus-circle"></span>
                        </a>
                        <a id="pageTop" class="hidden" style="display: none">{{ action }}</a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        {% for flux in category.flux %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url }}/flux/{{ flux.id }}" data-id="{{ flux.id }}">
                                    <span data-feather="file-text"></span>
                                    {{ flux.name }}
                                    <span class="badge badge-info right unreadForFeed" data-mark-all-read="feed"
                                          data-flux-id="{{ flux.id }}">{{ flux.unread }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                {% if action == 'item' %}
                    <h1 class="h2"><a target="_blank" rel="noopener noreferrer" href="{{ flux.website }}"
                                      class="text-dark">{{ flux.name }}</a></h1>
                    {{ flux.description }}
                    <a href="{{ url }}/flux/{{ flux.id }}">Non lu</a>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button class="btn btn-sm btn-outline-secondary">Share</button>
                            <button class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <span data-feather="calendar"></span>
                            This week
                        </button>
                    </div>
                {% endif %}
            </div>

            {% include "item.twig" %}
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="/docs/4.4/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="{{ url }}/templates/influx-template-dark/js/dashboard.js"></script>
<script src="{{ url }}/templates/influx-template-dark/js/script-influx.js"></script>

</body>
</html>
