<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Agr&eacute;gateur de flux RSS InFlux">
    <meta name="author" content="Hecate">
    <meta name="viewport" content="width=device-width">
    <title>InFlux</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/3dc7e89a7c.js"></script>


<<<<<<< HEAD
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="/templates/influx-ng/css/dashboard.css" rel="stylesheet">
</head>
<body>

<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Influx</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/settings/user" class="nav-link">Identifi&eacute;(e) en tant que {{ user }}</a>
            </li>
            <li class="nav-itemm">
                <a href="/favorites" class="nav-link">Favorites</a>
            </li>
            <li class="nav-itemm">
                <a href="/statistics" class="nav-link">Statistics</a>
            </li>


            <li class="nav-item">
                <a href="/settings" class="nav-link">Settings</a>
            </li>
            <li class="nav-item">
                <a href="/logout" class="nav-link">Sign out</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
</header>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block navbar-dark bg-dark sidebar">
            <div class="sidebar-sticky sidebar-menu">
                <ul class="nav flex-column treeview">
                    {% for category in categories %}
                        <li class="active ">
                            <a href="/category/{{ category.id }}">
                                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                    <i class="fa fa-rss-square">{{ category.name }}</i></h6>
                            </a>
                            <ul class="nav list-group">
                                {% for flux in category.flux %}
                                    {% if config.displayOnlyUnreadFeedFolder == true %}
                                    <!-- Affichage des fluxs ayant des articles non lus -->
                                    {% if flux.unread > 0 %}
                                    <li class="nav-item bg-dark list-group-item d-flex justify-content-between align-items-center">
                                        <a
                                                href="/flux/{{ flux.id }}"
                                                class=" text-white"
                                                data-id="{{ flux.id }}"
                                                title="{{ flux.url }}">{{ flux.name }} </a>
                                        <a href="/action/read/flux/{{ flux.id }}"
                                           class="float-right badge badge-pill badge-danger">{{ flux.unread }}</a>

                                    </li>
                                    {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>


        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex flex-wrap flex-md-nowrap  pt-3 pb-2 mb-3 border-bottom">

                {% if action == 'flux' %}

                    <h1 class="h2"><a target="_blank" rel="noopener noreferrer"
                                      href="{{ flux.website }}">{{ flux.name }}</a></h1>
                    <h1 class="h3">{{ flux.description }}</h1>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1><a target="_blank" rel="noopener noreferrer" href="{{ flux.website }}">{{ flux.name }}</a> :
                <small>{{ flux.description }}</small>
                <a href="/flux/{{ flux.id }}/page/{{ page }}/unread">Non lu</a> |
                <a href="/flux/{{ flux.id }}/page/{{ page }}/older">Plus vieux</a> en premier
            </h1>
        </section>

                {% endif %}


                {% if action == 'category' %}
                    <h1 class="articleSection">Dossier : {{ category.name }}</h1>
                    <p>Tous les &eacute;v&eacute;nements non lus pour le dossier {{ category.name }}</p>
                {% endif %}


            <div class="row">
                {% for event in events %}
                    {% set plainDescription = event.description|striptags|escape %}

                    <div class="card mw-100">
                        <div class="card-header bg-transparent">
                            <h2><a onclick="readThis(this,{{ event.id }},'title');" target="_blank"
                                   rel="noopener noreferrer" href="{{ event.link }}"
                                   title="{{ plainDescription|escape }}">{{ event.title|escape }}</a>
                            </h2>
                            <a class="readUnreadButton"><i class="far fa-eye"></i>
                                Lu/Non lu</a>
                            {% if event.favorite != 1 %}
                                <a class="" onclick="addFavorite(this,{{ event.id }});">Ajouter aux
                                    favoris</a>
                            {% else %}
                                <a class="" onclick="removeFavorite(this,{{ event.id }});">Supprimer
                                    des favoris</a>
                            {% endif %}
                            <a href="{{ event.link }}" target="_blank"
                               rel="noopener noreferrer">{{ event.flux_name }}</a>
                            {% if event.creator %}
                                par {{ event.creator }}
                            {% endif %}
                            {{ event.pubdate }}

                        </div>
                        <div class="card-body">
                            <h5 class="card-title"></h5>

                {% if action == 'favorites' %}


                    <h1 class="articleSection">Articles favoris <span id="nbarticle">{{ numberOfItem }}</span>
                        </h1>
                {% endif %}


                        </div>
                        <div class="card-footer">
                            <a class="pointer right readUnreadButton"><i class="far fa-eye"></i>
                                Lu/Non lu</a>
                            {% if event.getFavorite != 1 %}
                                <a class="right pointer favorite" onclick="addFavorite(this,{{ event.id }});">Ajouter
                                    aux
                                    favoris</a>
                            {% else %}
                                <a class="right pointer favorite" onclick="removeFavorite(this,{{ event.id }});">Supprimer
                                    des favoris</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
=======
>>>>>>> 75e09742b1427635970ccba0bbac8b5e6690ec97
            </div>

            {% for event in events %}
                {% set plainDescription = event.description|striptags|escape %}
                <div class="row">
                    <div class="card {% if event.unread == 0 %} text-white bg-dark{% else %} bg-light{% endif %}">
                        <div class="card-header bg-transparent">
                            <h2><a onclick="readThis(this,{{ event.id }},'title');" target="_blank"
                                   rel="noopener noreferrer" href="{{ event.link }}"
                                   title="{{ plainDescription|escape }}">{{ event.title|escape }}</a>
                            </h2>
                            <button type="button" class="btn btn-dark readUnreadButton" onclick="readThis(this,'{{ event.id }}','item');"><a class="readUnreadButton"><i
                                            class="far fa-eye"></i>
                                    Lu/Non lu</a></button>

                            {% if event.favorite != 1 %}
                                <button type="button" class="btn btn-dark"><a class=""
                                                                              onclick="addFavorite(this,{{ event.id }});">Ajouter
                                        aux
                                        favoris</a></button>
                            {% else %}
                                <button type="button" class="btn btn-dark"><a class=""
                                                                              onclick="removeFavorite(this,{{ event.id }});">Supprimer
                                        des favoris</a></button>
                            {% endif %}
                            <a href="{{ event.link }}" target="_blank"
                               rel="noopener noreferrer">{{ event.flux_name }}</a>
                            {% if event.creator %}
                                par {{ event.creator }}
                            {% endif %}
                            {{ event.pubdate }}

                        </div>
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            {{ event.content|raw }}
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-dark"><a class="readUnreadButton"><i
                                            class="far fa-eye"></i>
                                    Lu/Non lu</a></button>

                            {% if event.favorite != 1 %}
                                <button type="button" class="btn btn-dark"><a class=""
                                                                              onclick="addFavorite(this,{{ event.id }});">Ajouter
                                        aux
                                        favoris</a></button>
                            {% else %}
                                <button type="button" class="btn btn-dark"><a class=""
                                                                              onclick="removeFavorite(this,{{ event.id }});">Supprimer
                                        des favoris</a></button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </main>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="/templates/influx-ng/js/script.js"></script>
</body>
</html>
