{% include 'header.twig' %}

<div id="helpPanel" onclick="$(this).fadeOut(200);">
    <h3>Raccourcis clavier</h3>
    <ul>
        <li><strong>m</strong> marque l’&eacute;l&eacute;ment s&eacute;lectionn&eacute; comme lu / non lu</li>
        <li><strong>l</strong> marque l’&eacute;l&eacute;ment pr&eacute;c&eacute;dent comme non lu</li>
        <li><strong>s</strong> marque l’&eacute;l&eacute;ment s&eacute;lectionn&eacute; comme favori / non favori</li>
        <li><strong>n</strong> &eacute;l&eacute;ment suivant (sans l’ouvrir)</li>
        <li><strong>v</strong> ouvre l’URL de l’&eacute;l&eacute;ment s&eacute;lectionn&eacute;</li>
        <li><strong>p</strong> &eacute;l&eacute;ment pr&eacute;c&eacute;dent (sans l’ouvrir)</li>
        <li><strong>espace</strong> &eacute;l&eacute;ment suivant (et l’ouvrir)</li>
        <li><strong>k</strong> &eacute;l&eacute;ment pr&eacute;c&eacute;dent (et l’ouvrir)</li>
        <li><strong>o</strong> ou <strong>enter</strong> ouvrir l’&eacute;l&eacute;ment s&eacute;lectionn&eacute;</li>
        <li><strong>j</strong> change le mode d'affichage de l'article (titre, r&eacute;duit, complet)</li>
        <li>touche h pour afficher/masquer le panneau d’aide"</li>
    </ul>
</div>

<div id="main" class="wrapper clearfix index">
    <!-- MENU -->
    <div id="menuBar">
        <section class="searchMenu">
            <form action="/search" method="post">
                <input name="search" id="search" placeholder="..." value="" type="text">
                <button type="submit">Rechercher</button>
            </form>
        </section>
        <aside>
            <!-- TITRE MENU + OPTION TOUT MARQUER COMME LU -->
            <h3 class="left">Flux</h3>
            <button style="margin: 10px 0px 0px 10px;"
                    onclick="if(confirm('Tout marquer comme lu pour tous les flux ?'))window.location='/action/read/all'">
                Tout marquer comme lu
            </button>
            <div class="readingFolderButton"
                 onclick="toggleUnreadFeedFolder(this, {{ config.displayOnlyUnreadFeedFolder_reverse }}) ;"
                 title="Afficher uniquement non lus"><i class="icon-resize-full"></i></div>

            <ul class="fluxs clear">

                <!--Pour chaques dossier-->
                {% for category in categories %}

                    <!-- DOSSIER -->
                    <li>
                        <h1 class="category{% if category.unread == 0 %}hideflux{% endif %}" {% if (config.displayOnlyUnreadFeedFolder == true) and (category.unread == 0) %} style="display:none"{% endif %}>

                            <a title="Marquer comme lu" class="categoryLink"
                               href="/category/{{ category.id }}"
                               data-id="{{ category.id }}">{{ category.name }}</a>
                            <a class="readFolder"
                               title="Plier/D&eacute;plier le dossier"
                               onclick="toggleFolder(this,{{ category.id }} )">
                                {% if category.isopen == 0 %}
                                    <i class="icon-category-empty"></i>
                                {% else %}
                                    <i class="icon-category-open-empty"></i>
                                {% endif %}</a>
                            {% if category.unread != 0 %}
                                <a class="unreadForFolder"
                                   title="marquer comme lu le(s) {{ category.unread }} evenement(s) non lu(s) de ce dossier"
                                   data-mark-all-read="category">{{ category.unread }}
                                    Non lu</a>
                            {% endif %}

                        </h1>
                        <!-- FLUX DU DOSSIER -->
                        <ul {% if category.isopen == 0 %}style="display:none" {% endif %}>
                            {% for flux in category.flux %}
                                {% if config.displayOnlyUnreadFeedFolder == true %}
                                    <!-- Affichage des fluxs ayant des articles non lus -->
                                    {% if flux.unread > 0 %}
                                        {% if flux.lastSyncInError == 0 %}
                                            <li>
                                        {% else %}
                                            <li class="errorSync" title="Sync error">
                                        {% endif %}
                                        <a
                                                href="/flux/{{ flux.id }}"
                                                class="fluxLink {% if flux.id == fluxId %} selectedFlux{% endif %}"
                                                data-id="{{ flux.id }}"
                                                title="{{ flux.url }}">{{ flux.name }} </a>
                                        <button class="right unreadForFeed" data-mark-all-read="flux">
                                            <span title="Marquer comme lu">{{ flux.unread }}</span>
                                        </button>

                                        </li>
                                    {% else %}
                                        <!-- On cache les fluxs n'ayant pas d'article non lus -->
                                        {% if flux.lastSyncInError == 0 %}
                                            <li class="hideflux" style="display:none;">
                                        {% else %}
                                            <li class="hideflux errorSync" style="display:none;"
                                            title="sync error">
                                        {% endif %}
                                        <a
                                                href="/flux/{{ flux.id }}"
                                                class="fluxLink"
                                                data-id="{{ flux.id }}"
                                                title="{{ flux.url }}">{{ flux.name }} </a>
                                        {% if flux.unread is defined %}
                                            <button class="right unreadForFeed" data-mark-all-read="flux">
                                                <span title="marquer comme lu">{{ flux.unread }}</span>
                                            </button>
                                        {% endif %}

                                        </li>
                                    {% endif %}
                                {% else %}
                                    <!-- Affichage de tous les fluxs -->
                                    {% if flux.unread is defined %}
                                        {% if flux.lastSyncInError == 0 %}
                                            <li>
                                        {% else %}
                                            <li class="errorSync" title="Erreur de sync">
                                        {% endif %}
                                    {% else %}
                                        {% if flux.lastSyncInError == 0 %}
                                            <li class="hideflux">
                                        {% else %}
                                            <li class="hideflux errorSync" title="Erreur de sync">
                                        {% endif %}
                                    {% endif %}
                                    <a
                                            href="/flux/{{ flux.id }}"
                                            class="fluxLink"
                                            data-id="{{ flux.id }}"
                                            title="{{ flux.url }}">{{ flux.name }} </a>

                                    {% if flux.unread is not defined %}
                                        <button class="right unreadForFeed" data-mark-all-read="flux">
                                            <span title="Marquer comme lu">{{ flux.unread }}</span>
                                        </button>
                                    {% endif %}

                                    </li>
                                {% endif %}

                            {% endfor %}


                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </aside>


    </div>

    <article>
        <header class="articleHead">

            {% if action == 'flux' %}

                <h1 class="articleSection"><a target="_blank" rel="noopener noreferrer" href="{{ flux.website }}">{{ flux.name }}</a> :</h1>
                {{ flux.description }}
                <div class="clear"></div>

                <a href="/flux/{{ flux.id }}/page/{{ page }}/unread">Non lu</a> |
                <a href="/flux/{{ flux.id }}/page/{{ page }}/older">Plus vieux</a> en premier
            {% endif %}

            {% if action == 'category' %}
                <h1 class="articleSection">Dossier : {{ category.name }}</h1>
                <p>Tous les &eacute;v&eacute;nements non lus pour le dossier {{ category.name }}</p>
            {% endif %}

            {% if action == 'favorites' %}

                <h1 class="articleSection">Articles favoris <span id="nbarticle">{{ numberOfItem }}</span>
                    }}</h1>
            {% endif %}


            {% if (action == 'unreadEvents') or (action == '') %}
            {% set helpPanel = "#helpPanel" %}
        </header>
        <header class="articleHead">
            <h1 class="articleSection">Non lu(s) (<span id="nbarticle">{{ numberOfItem }}</span>)</h1>
            <i title="Touche h pour afficher/masquer le panneau d’aide" onclick="$('#helpPanel').fadeIn(200);"
               class="icon-keyboard right pointer"></i>
            {% endif %}

            <div class="clear"></div>
        </header>

        {% include "article.twig" %}
    </article>


</div>
{% include "footer.twig" %}

